[Desktop Entry]
Type=Application
Name=klipBored
Comment=Historial de portapapeles
Exec=klipBored
Icon=io.github.klipbored.app
Terminal=false
Categories=Utility;GTK;
X-GNOME-Autostart-enabled=true
StartupNotify=true
StartupWMClass=io.github.klipbored.app
