[Desktop Entry]
Type=Application
Name=KlipBored
Comment=Historial de portapapeles
Exec=/home/pau/.local/bin/klipBored
Icon=klipbored
Terminal=false
Categories=Utility;GTK;
X-GNOME-Autostart-enabled=true
StartupNotify=false
NoDisplay=true